/VECTORES_ARRAYS/nbproject/private/
/VECTORES_ARRAYS/build/
/MATRICES_ARRAYS/nbproject/private/
/MATRICES_ARRAYS/build/
/Ejercicio Integrador 2/nbproject/private/
/Ejercicio Integrador 2/build/
/EjercicioIntegrador3/nbproject/private/
/EjercicioIntegrador3/build/
/PruebaCapas/nbproject/private/
/PruebaCapas/build/